.conteiner {
    width: 700px;
    height: 100px;
  }
  
  .conteiner-cover {
    object-fit: cover;
    object-position: center;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .pagination li {
    display: inline-block;
    margin: 0 4px;
  }
  
  .pagination a {
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  .pagination a:hover {
    background-color: #eee;
  }
  
  .pagination .active a {
    font-weight: bold;
    color: #45b3e3;
  }