.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 20px;
    column-gap: 10px;

}

.grid-item {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns: repeat(1, auto);
    }
}

