.sidebar {
    background-color: rgb(0, 22, 49);
    position: fixed;
    width: 250px;
    padding: 20px;
    height: 100%;
    left: -300px;
    top: 55px;
    transition: all 0.5s ease;
}

.sidebar.show {
    left: 0;
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar ul li {
    border-bottom: 1px solid #858f97;
    color: white;
    font-size: small;
    position: relative;
    padding: 13px;
    display: block;
    cursor: pointer;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: transparent;
    text-decoration: underline;
}

.sidebar ul li:hover:before,
.sidebar ul li.active:before {
    display: block;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.logo-sidebar {
    width: 100%;
    margin-top: 10px;
}

.text-container {
    padding: 4%;
    background: rgb(80, 123, 166);
    font-size: small;
    font-weight: bold;
    color: rgb(0, 0, 0, 0.7);
    text-align: justify;
}
input{
    margin-right: 5px;
}
