.App {
  display: flex; /* flexivel*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  position: absolute; /*pode sobrepor elementos e se moverá junto com a rolagem da pagina */
  width: 100%;
  height: 100%;
  top: -15%;
}
.Contador{
  font-size: 120%; /*120% do tamanho do pai */
  position: relative; /* é possivel ajustar as propriedades esq,dir,sup,inf */
  top: 5vh; /*1/100 da altura do navegador */
}
.incrementar{
  font-size: 60%;
  position: relative;
  margin-right: 10px; /*medida exata */
  background-color: green;
  border-radius: 50%;
  color: white;
  height: 50px;
  width: 50px;
}
.decrementar{
  font-size: 60%;
  position: relative;
  margin-right: 10px;
  background-color: red;
  border-radius: 50%;
  color: white;
  height: 50px;
  width: 50px;
}
